@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('./assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf') format('ttf');
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  min-height: 80vh;
}

/* Might prefer to lock nav. in place. Not going to worry about that for this project. */
nav {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Roboto';
  font-size: 2em;
}

nav a {
  display: flex;
  flex-direction: row;
  padding: .1em;
  border: double;
  justify-content: space-evenly;
}

nav a img {
  max-width: 50px;
  margin-right: 5px;
  display: flex;
}

h1 {
  font-size: 3.4em;
  font-weight: 400;
  color: goldenrod;
  background: linear-gradient(75deg, indigo, purple);
  border-style: groove;
  border-radius: 45%;
  padding: 1rem;
}

footer {
  margin-top: 2em;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 3em;
    padding: .7rem;
  }
}

@media only screen and (max-width: 600px) and (min-width: 400px) {
  #root {
    width: 400px;
  }
}